.logo{display: block; max-width: 20%;}
ul.menu{padding: 0px; position: relative;}
.nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }
  .menu_icon{display: none; color:#fff; font-size: 1.4rem;}
ul.menu li{float: left; list-style: none; line-height: 40px;}
ul.menu li a{color: #fff; text-decoration: none; float: left; padding:0 10px; font-size: 1.1rem;}
ul.menu li a:hover{color: #bbbbbb;}

@media (max-width: 600px) {
    ul.menu{
        position: absolute;
        right:0;
        top: 50px;
        background-color: #fef7e5;
        width: 0px;
        height: calc(100vh - 50px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }
    ul.menu.active{
        width: 230px;
        padding: 1rem;
    }
    .bannersection{height: 60vh;}
    #aboutus{margin: 2rem 0;}
    ul.menu li a{color: #000;}
    .menu_icon{display: block;}
    .planssection .planbox{margin-bottom:1rem; margin-top: 1rem;}
}